/* Reset CSS per compatibilità cross-browser */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Stile per il corpo */
body {
	font-family: 'Poppins', sans-serif;
	background-color: #f4f4f4;
	color: #333;
	line-height: 1.6;
	padding: 0;
	margin: 0;
}

/* Stile dell'header e del menu */
header {
	background-color: #2b2d42;
	padding: 15px 0;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: 0 auto;
}

.logo {
	font-size: 28px;
	font-weight: bold;
	color: #edf2f4;
	letter-spacing: 2px;
}

.logo a{
	color: white;
	text-decoration: none;
}

.menu {
	list-style: none;
	display: flex;
}

.menu li {
	margin: 0 20px;
	position: relative;
}

.menu a {
	color: #edf2f4;
	text-decoration: none;
	padding: 10px 15px;
	font-weight: 500;
	transition: color 0.3s ease;
}

.menu a:hover {
	color: #8d99ae;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #2b2d42;
	padding-top: 25px;
	top: 100%;
	left: 0;
	min-width: 160px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: #edf2f4;
	padding: 12px 16px;
	display: block;
	text-align: left;
	transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
	background-color: #8d99ae;
	color: #2b2d42;
}

.menu li:hover .dropdown-content {
	display: block;
}

/* CORPO PAGINA */

.intro{
	width: 80%;
  	text-align: justify;
	margin-left: 10%;
}

.chi-siamo{
	font-weight: bold;
	font-size: 20px;
	color: #2b2d42;
}

.div-contenitore{
  	text-align: justify;
	background-color: #2b2d42;
	border: 8px solid #2b2d42;
	display: flex;
    align-items: center;
	width: 90%;
	margin-left: 5%;
	margin-top: 3%;
	border-radius: 40px;
}

.testo{
	background-color: white;
	width: 50%;
  	float: left;
	padding: 5%;
	border-radius: 40px 0px 0px 40px;
}
.titolo{
	font-size: 50px;
	font-weight: bold;
	color: white;
  	text-align: center;
	background-color: none;
	width: 50%;
	float: right;
	padding: 5%;
	border-radius: 0px 40px 40px 0px;
}

.div-contenitore-tasto{
  	text-align: center;
	background-color: none;
	display: flex;
    align-items: center;
	width: 90%;
	margin-left: 5%;
	margin-top: 3%;
	border-radius: 40px;
}

.indirizzamento{
	width: 100%;
	text-align: center;
}

.indirizzamento p{
	font-size: 30px;
	margin-top: 1%;
}

.tasto-servizi{
	font-size: 20px;
	background-color: #2b2d42;
	color: white;
	width: 15%;
	padding: 1%;
	border-radius: 30px;
	margin-left: 42.5%;
	margin-top: 1%;
	margin-bottom: 1%;
	transition: 0.5s;
	border: 3px solid #2b2d42;
}

.indirizzamento a{
	text-decoration: none;
}

.tasto-servizi:hover{
	background-color: white;
	color: #2b2d42;
	transition: 0.5s;
}


/* Footer */
footer {
	background-color: #2b2d42;
	color: #edf2f4;
	text-align: center;
	padding: 20px;
	position: relative;
	width: 100%;
	bottom: 0;
}

footer p {
	margin-top: 10px;
	font-size: 14px;
}

/* Responsive design */
@media (max-width: 768px) {
	
}
